{% extends "base.html" %}

Invitation from {{ invitation.from_user.username }}

{% block content %}
  <div class="well col-sd-6">
    <p> User {{invitation.from_user}} invites your to a game.</p>
    {% if invitation.message %}
      <p> He/She included message:</p>
      <blockquote> {{ invitation.message }} </blockquote>
    {% endif %}

    <form action="" method="post">
      {% csrf_token %}
      <button type="submit" name="accept" value= "ok">Accept</button>
      <button type="submit" name="deny" value= "no">Deny</button>
    </form>
  </div>
{% endblock content %}